---
import MainLayout from "@/layouts/MainLayout.astro";
import Hero from "@/components/Hero.astro";
import Features from "@/components/Features.astro";
import Downloads from "@/components/Downloads.astro";
import FAQ from "@/components/FAQ.astro";
import Contact from "@/components/Contact.astro";
import Footer from "@/components/Footer.astro";
---

<MainLayout title="Bookmark Landing Page">
  <main>
    <Hero />
    <Features />
    <Downloads />
    <FAQ />
    <Contact />
    <Footer />
  </main>
</MainLayout>
