---
import Button from "./Button.astro";
---

<section class="bg-theme-purple py-20 text-white">
  <div class="container">
    <div class="mx-auto sm:w-3/4 lg:w-2/4">
      <p class="mb-8 text-center font-light uppercase">35,000+ already joined</p>
      <h1 class="text-center text-3xl">Stay up-to-date with what we're doing</h1>
      <div class="mt-8 flex flex-col gap-6 sm:flex-row">
        <input
          type="email"
          placeholder="Enter your email address"
          class="flex-1 rounded-md bg-theme-white px-2 py-3 text-black focus:outline-none"
        />
        <Button class="bg-theme-red text-theme-white">Contact Us</Button>
      </div>
    </div>
  </div>
</section>
