---
import Button from "./Button.astro";
---

<section class="bg-theme-purple py-20 text-theme-white">
  <form class="container" id="sub-form" novalidate>
    <div class="mx-auto sm:w-3/4 lg:w-2/4">
      <p class="mb-8 text-center font-light uppercase">35,000+ already joined</p>
      <p class="text-center text-3xl">Stay up-to-date with what we're doing</p>
      <div class="mt-8 flex flex-col gap-6 sm:flex-row sm:items-start">
        <div class="relative flex flex-1 flex-col">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email address"
            class="w-full rounded-md bg-theme-white px-6 py-3 text-theme-blue placeholder:text-theme-grayish-blue focus:outline-none"
          />
          <p
            class="invisible absolute top-full left-0 bg-theme-red p-1 text-sm text-theme-gray italic sm:static"
            id="message"
          >
            Whoops! Make sure it's an email
          </p>
        </div>
        <Button type="submit" theme="tertiary">Contact Us</Button>
      </div>
    </div>
  </form>
</section>

<script>
  import { actions } from "astro:actions";
  import Swal from "sweetalert2";

  const form = document.querySelector("#sub-form") as HTMLFormElement;
  const message = document.querySelector("#message") as HTMLParagraphElement;

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(e.target as HTMLFormElement);
    const { data, error } = await actions.subscribe(formData);

    if (error) {
      message.classList.remove("invisible");
      message.classList.add("visible");
    } else {
      message.classList.remove("visible");
      message.classList.add("invisible");
      form.reset();
      Swal.fire(`Successfully subscribed: ${data}`);
    }
  });
</script>
