---
import Button from "./Button.astro";
---

<section class="bg-theme-purple py-20 text-white">
  <form class="container" id="sub-form" novalidate>
    <div class="mx-auto sm:w-3/4 lg:w-2/4">
      <p class="mb-8 text-center font-light uppercase">35,000+ already joined</p>
      <p class="text-center text-3xl">Stay up-to-date with what we're doing</p>
      <div class="mt-8 flex flex-col gap-6 sm:flex-row">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email address"
          class="flex-1 rounded-md bg-theme-white px-6 py-3 text-theme-blue placeholder:text-theme-blue/30 focus:outline-none"
        />
        <Button type="submit" theme="tertiary">Contact Us</Button>
      </div>
      <p class="bg-theme-red text-theme-gray italic" id="message"></p>
    </div>
  </form>
</section>

<script>
  import { actions } from "astro:actions";

  const form = document.querySelector("#sub-form") as HTMLFormElement;
  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(e.target as HTMLFormElement);
    const { data, error } = await actions.subscribe(formData);

    const message = document.querySelector("#message") as HTMLParagraphElement;
    if (error) {
      message.textContent = "Whoops! Make sure it's an email";
    } else {
      message.textContent = "";
      form.reset();
      alert(`Successfully subscribed: ${data}`);
    }
  });
</script>
