---
import Button from "./Button.astro";
---

<section class="bg-theme-purple py-20 text-theme-white">
  <form class="container" id="sub-form" novalidate>
    <div class="mx-auto sm:w-3/4 lg:w-2/5">
      <p class="mb-8 text-center font-light uppercase">35,000+ already joined</p>
      <p class="text-center text-3xl">Stay up-to-date with what we're doing</p>
      <div class="mt-8 flex flex-col gap-2 sm:flex-row sm:items-start sm:gap-5">
        <div class="flex flex-1 flex-col items-center rounded-md" id="email-container">
          <label for="email" class="sr-only">Enter your email address</label>
          <input
            type="email"
            name="email"
            id="email"
            aria-describedby="email-error"
            aria-invalid="false"
            placeholder="Enter your email address"
            class="w-full rounded-md bg-theme-white px-6 py-3 text-theme-blue placeholder:text-theme-grayish-blue focus:outline-none"
          />
          <p
            class="invisible p-2 text-xs text-theme-gray italic sm:static"
            id="message"
            role="alert"
            aria-live="polite"
          >
            Whoops! Make sure it's an email
          </p>
        </div>
        <Button type="submit" theme="tertiary">Contact Us</Button>
      </div>
    </div>
  </form>
</section>

<script>
  import { actions } from "astro:actions";
  import Swal from "sweetalert2";

  const form = document.querySelector("#sub-form") as HTMLFormElement;
  const emailInput = form?.querySelector("input") as HTMLInputElement;
  const message = document.querySelector("#message") as HTMLParagraphElement;
  const container = document.querySelector("#email-container") as HTMLDivElement;

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(e.target as HTMLFormElement);
    const { data, error } = await actions.subscribe(formData);

    if (error) {
      message.classList.remove("invisible");
      message.classList.add("visible");
      container.classList.add("bg-theme-red", "p-0.5");
      emailInput.setAttribute("aria-invalid", "true");
      message.setAttribute("role", "alert");
    } else {
      message.classList.remove("visible");
      message.classList.add("invisible");
      message.removeAttribute("role");
      container.classList.remove("bg-theme-red", "p-0.5");
      emailInput.setAttribute("aria-invalid", "false");
      form.reset();
      Swal.fire(`Successfully subscribed: ${data}`);
    }
  });

  emailInput?.addEventListener("input", () => {
    if (message.classList.contains("visible")) {
      message.classList.remove("visible");
      message.classList.add("invisible");
      message.removeAttribute("role");
      container.classList.remove("bg-theme-red");
      emailInput.setAttribute("aria-invalid", "false");
    }
  });
</script>
