---
import FAQItem from "./FAQItem.astro";
import Button from "./Button.astro";
---

<section class="bg-theme-white py-20">
  <div class="container">
    <div class="mx-auto px-2 sm:w-3/4 lg:w-5/12">
      <h1 class="text-center text-3xl text-theme-blue">Frequently Asked Questions</h1>
      <p class="mt-4 text-center text-theme-gray">
        Here are some of our FAQs. If you have any other questions you'd like answered please feel free
        to email us.
      </p>
    </div>
    <div class="mx-auto mt-12 flex flex-col sm:w-3/4 lg:w-5/12">
      <FAQItem>What is a bookmark?</FAQItem>
      <FAQItem>How can I request a new browser?</FAQItem>
      <FAQItem>Is there a mobile app?</FAQItem>
      <FAQItem>What about other Chromium browsers?</FAQItem>
      <Button theme="primary" class="mt-12 self-center">More Info</Button>
    </div>
  </div>
</section>
