---
import FAQItem from "@/components/FAQItem.astro";
import Button from "@/components/Button.astro";
import faqs from "@/data/faqs";
---

<section class="py-20">
  <div class="container">
    <div class="mx-auto px-2 sm:w-3/4 lg:w-5/12">
      <h1 class="text-center text-3xl text-theme-blue">Frequently Asked Questions</h1>
      <p class="mt-4 text-center text-theme-blue/50">
        Here are some of our FAQs. If you have any other questions you'd like answered please feel
        free to email us.
      </p>
    </div>
    <div class="mx-auto mt-12 flex flex-col sm:w-3/4 lg:w-5/12">
      <ul>
        {faqs.map((faq, index) => <FAQItem faq={faq} index={index} />)}
      </ul>
      <Button theme="primary" class="mt-12 self-center">More Info</Button>
    </div>
  </div>
</section>
