---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import Button from "./Button.astro";

interface Props {
  imagePath: string;
}
const { imagePath } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif}");
if (!images[imagePath])
  throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<article class="relative">
  <div class="container flex flex-col items-center justify-center gap-x-24 lg:flex-row">
    <div class="z-10 mb-10 flex flex-1 justify-center lg:mb-0">
      <Image
        src={images[imagePath]()}
        loading="lazy"
        alt="Bookmark Feature"
        class="h-5/6 w-5/6 sm:h-3/4 sm:w-3/4 md:h-full md:w-full"
      />
    </div>
    <div class="flex flex-1 flex-col items-center gap-y-6 lg:items-start">
      <h1 class="text-3xl font-medium text-theme-blue">
        <slot name="header" />
      </h1>
      <p class="text-center text-lg text-theme-grayish-blue sm:w-3/4 lg:w-full lg:text-left">
        <slot name="content" />
      </p>
      <Button theme="primary">More Info</Button>
    </div>
    <div
      class="absolute -bottom-24 left-0 hidden h-80 w-2/4 overflow-hidden rounded-r-full bg-theme-purple lg:block"
    >
    </div>
  </div>
</article>
