---
import { Icon } from "astro-icon/components";
import links from "@/data/links";
---

<footer class="bg-theme-blue py-8">
  <div class="container flex flex-col items-center md:flex-row">
    <div class="flex flex-1 flex-wrap items-center justify-center gap-12 md:justify-start">
      <img src="/logo-bookmark-footer.svg" alt="Bookmark Landing Page" loading="lazy" />
      <ul class="flex gap-12 text-xs text-theme-gray uppercase">
        {
          links.map((link) => (
            <li>
              <a href={link.url} class="transition-colors duration-300 hover:text-theme-red">
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <ul class="mt-12 flex gap-10 md:mt-0">
      <li>
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
          class="hover:cursor-pointer"
        >
          <Icon name="icon-facebook" class="text-2xl" title="Facebook" />
        </a>
      </li>
      <li>
        <a
          href="https://www.x.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Twitter/X"
          class="hover:cursor-pointer"
        >
          <Icon name="icon-twitter" class="text-2xl" title="Twitter/X" />
        </a>
      </li>
    </ul>
  </div>
</footer>
