---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";

import logo from "@/assets/logo-bookmark-white.png";
---

<footer class="bg-theme-blue py-8">
  <div class="container flex flex-col items-center md:flex-row">
    <div class="flex flex-1 flex-wrap items-center justify-center gap-12 md:justify-start">
      <Image src={logo} alt="Bookmark" loading="lazy" />
      <ul class="flex gap-12 text-xs text-white uppercase">
        <a href="/">
          <li>Features</li>
        </a>
        <a href="/">
          <li>Pricing</li>
        </a>
        <a href="/">
          <li>Contact</li>
        </a>
      </ul>
    </div>
    <ul class="mt-12 flex gap-10 md:mt-0">
      <li>
        <a href="https://www.x.com" target="_blank" rel="noopener noreferrer">
          <Icon name="fa6-brands:x-twitter" class="text-2xl text-white hover:cursor-pointer" />
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
          <Icon
            name="fa6-brands:square-facebook"
            class="text-2xl text-white hover:cursor-pointer"
          />
        </a>
      </li>
    </ul>
  </div>
</footer>
