---
import Button from "@/components/Button.astro";
import MobileMenu from "@/components/MobileMenu.astro";

import links from "@/data/links";
---

<header>
  <nav class="mx-auto mt-4 flex items-center px-8 py-4 sm:mt-8 sm:px-15" id="nav">
    <div class="py-1">
      <img src="/logo-bookmark.svg" alt="Bookmark Landing Page" />
    </div>
    <ul
      class="hidden flex-1 items-center justify-end gap-11 text-[0.8125rem] font-medium tracking-widest text-theme-grayish-blue uppercase md:flex"
    >
      {
        links.map((link) => (
          <li>
            <a href={link.url} class="transition duration-300 hover:text-theme-red">
              {link.name}
            </a>
          </li>
        ))
      }
      <li><Button class="px-8.5 uppercase" theme="tertiary">Login</Button></li>
    </ul>
    <div class="flex flex-1 justify-end md:hidden" id="menu-toggle">
      <button type="button" class="cursor-pointer" aria-label="Menu">
        <img src="/icon-hamburger.svg" alt="" />
      </button>
    </div>
  </nav>
  <div
    id="mobile-menu"
    class="fixed inset-0 z-20 hidden h-screen w-full bg-theme-blue/90 backdrop-invert backdrop-opacity-20"
  >
    <MobileMenu />
  </div>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");
    const nav = document.getElementById("nav");

    function toggleMenu(forceClose = false) {
      if (mobileMenu && menuToggle && nav) {
        const isClosing = forceClose || !mobileMenu.classList.contains("hidden");
        mobileMenu.classList.toggle("hidden", isClosing);
        nav.classList.toggle("invisible");
        document.body.style.overflow = isClosing ? "" : "hidden";
        menuToggle.setAttribute("aria-expanded", String(!isClosing));
      }
    }
    menuToggle?.addEventListener("click", () => toggleMenu());
    window.addEventListener("close-menu", () => toggleMenu(true));
  });
</script>
